---
import RustFlixImage from "@/assets/rustflix-update.png";
import TravelImage from "@/assets/travel-update.png";
import GraniteImage from "@/assets/granite-update.png";
import GraniteSyncImage from "@/assets/sync.png";
import HoneyNectarImage from "@/assets/honey-nectar-website.png";
import { Image } from "astro:assets";
import { Button } from "./ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "../components/ui/card";
import { ExternalLink } from "lucide-astro";
---

<section class="body-font py-10 pb-8 sm:py-20 md:pb-0">
  <h1
    class="bg-gradient-to-tr from-slate-400 to-slate-700 bg-clip-text px-2 pb-8 text-3xl font-bold tracking-wide text-transparent sm:text-4xl"
  >
    Apps
  </h1>
  <div
    class="grid grid-cols-2 items-center justify-items-center gap-4 sm:grid-cols-2"
  >
    {
      [
        {
          title: "GraniteSync",
          description: "All in one production work flow SaaS",
          highlight: `Built on Next.Js, featuring admin role-based login, inventory
          management and job creation, UploadThing for project picture uploads,
          and individual profiles for fabricators. Notably, fabricators receive
          React email notifications for newly assigned jobs. With TypeScript and
          modern UI/UX patterns, our app offers a user-friendly solution to
          optimize the production process for granite companies.`,
          src: GraniteSyncImage,
          alt: "GrnaiteSync iamge",
          live: "https://www.granitesync.com",
          github: "",
        },
        {
          title: "RustFlix",
          description: "Movie Application",
          highlight: `
            Rustflix is a cutting-edge video streaming web app. It uses Next.js 13
            server components for lightning-fast frontend rendering. On the
            backend, with Drizzle ORM ensures efficient data handling and
            top-notch performance, providing a seamless video streaming
            experience. With its sleek design and user-friendly interface,
            Rustflix offers an exceptional entertainment experience.
        `,
          src: RustFlixImage,
          alt: "RustFlix iamge",
          live: "",
          github: "https://github.com/hector3211/rust-fullstack",
        },
        {
          title: "Travel",
          description: "Travel aggency application.",
          highlight: `
            This travel app, built with Next.js, offers real-time weather updates
            and leverages the latest website design trends. It incorporates modern
            design techniques like responsive design and animations, creating an
            engaging user experience. The app is not only fast and efficient, but
            it also ensures that travelers are well-prepared by providing
            up-to-the-minute weather information.
        `,
          src: TravelImage,
          alt: "Travel iamge",
          live: "https://travel.hectorcodes.dev",
          github: "https://github.com/hector3211/Travel-website",
        },

        {
          title: "GD Granite",
          description: "Local Granite Shop Website.",
          highlight: `
            This granite shop website, created with Astro JS 3.0 and TypeScript,
            offers a smooth and engaging user experience. Powered by React, the
            site delivers enhanced interactivity and responsiveness. We've
            implemented a top-notch validated form for data accuracy. Moreover, it
            follows the trending responsive design, ensuring it looks great on all
            devices.
        `,
          src: GraniteImage,
          alt: "GDGranite iamge",
          live: "https://granite.hectorcodes.dev",
          github: "",
        },
        {
          title: "Honey Nectar Astrology",
          description: "Astrology Application",
          highlight: `
            This granite shop website, created with Astro JS 3.0 and TypeScript,
            offers a smooth and engaging user experience. Powered by React, the
            site delivers enhanced interactivity and responsiveness. We've
            implemented a top-notch validated form for data accuracy. Moreover, it
            follows the trending responsive design, ensuring it looks great on all
            devices.
        `,
          src: HoneyNectarImage,
          alt: "GDGranite iamge",
          live: "https://honeynectarastrology.com",
          github: "",
        },
      ].map((project) => (
        <Card
          className={`${project.title === "GraniteSync" ? "col-span-2" : "col-span-2 lg:col-span-1"}`}
        >
          <CardHeader>
            <CardTitle>{project.title}</CardTitle>
            <CardDescription>{project.description}</CardDescription>
          </CardHeader>
          <CardContent
            className={`${project.title === "GraniteSync" ? "" : "h-[35rem]"}`}
          >
            <Image
              width={900}
              height={400}
              src={project.src}
              alt={project.alt}
              class={`${project.title === "GraniteSync" && "w-full object-cover"}`}
            />
            <p class="lg:text-md py-3 text-justify leading-relaxed">
              {project.highlight}
            </p>
          </CardContent>
          <CardFooter>
            <div class="ml-2 flex items-center space-x-1 py-2">
              <Button>
                <a href={`${project.live}`} target="_blank">
                  Demo
                </a>
              </Button>
              <Button disabled={!project.github}>
                <a
                  class="flex items-center"
                  href={`${project.github}`}
                  target="_blank"
                >
                  <p>Source Code</p>
                  <ExternalLink />
                </a>
              </Button>
            </div>
          </CardFooter>
        </Card>
      ))
    }
  </div>
</section>
